* {
    margin:0;
    padding:0;
}

body {
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
}

.headerone {
    background-image:url('images/beachshowcase.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

.headerone h1 {
    font-size:50px;
    line-height:1.2;
}

.headerone p {
    font-size:20px;
}

.headerone .button {
    font-size:18px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}

.headerone .button:hover {
    background:#926239;
    color:#fff;
}

.bodytext1 {
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
}

.bodytext2 {
    padding:20px;
    background:#f4f4f4;
    color:#926239;
    text-align:center;
}

.bodytext3 {
    display: flex;
}

.span1 {
    padding:20px;
    background:#926239;
    color:#fff;
}

.span2 {
    padding:20px;
    background:#f9f9f9;
    color:#926239;
}